<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/submit.html">Submit a review</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <header>
          <h1>{{ title }}</h1>
          <ul>
            <li>
              <p>Submitted by {{ user }}</p>
              <p>Beer drank on {{ date_drank }}</p>
              <p>Style of beer: {{ style }}</p>
              <p>ABV: {{ abv }}</p>
              <p>Rating: {{ rating }}</p>
              <p>Possible serving styles: {{ serving_style | join(", ") }}</p>
              <p>Flavor profile: {{ flavor_profile | join(", ") }}</p>
            </li>
          </ul>
        </header>
        {{ content }}
      </article>
    </main>
  </body>
</html>